[Unit]
Description=Position Keeper Daemon
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/home/ec2-user/fullbor-pk
Environment="SECRET_ARN=arn:aws:secretsmanager:us-east-2:316490106381:secret:PandaDbSecretCache-pdzjei"
Environment="AWS_REGION=us-east-2"
Environment="DB_HOST=panda-db.cnqay066ma0a.us-east-2.rds.amazonaws.com"
Environment="DB_USER=admin"
Environment="DB_PASS=LiBoR45%"
Environment="DATABASE=onebor"
Environment="QUEUE_URL=https://sqs.us-east-2.amazonaws.com/316490106381/pandatransactions.fifo"
Environment="PK_INSTANCE=i-01f5d046c86e4f36e"
ExecStart=/usr/bin/python3 -u /home/ec2-user/fullbor-pk/positionkeeper.py
Restart=always
StandardOutput=file:/var/log/positionkeeper.log
StandardError=file:/var/log/positionkeeper.log

[Install]
WantedBy=multi-user.target
